# Database connection string
DATABASE_URI=postgresql://user@localhost/dbname

# Used to encrypt JWT tokens
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Google Cloud Storage Bucket
GCS_PROJECT_ID=dao-brussels
GCS_BUCKET_NAME=dao-brussels-website--dev
GOOGLE_APPLICATION_CREDENTIALS=service-account--dao-brussels-website-dev-bucket.json