# Database connection string
POSTGRES_URL="postgresql://user@localhost/dbname"

# Used to encrypt JWT tokens
PAYLOAD_SECRET="YOUR_SECRET_HERE"

# Google Cloud Storage Bucket
GCP_PROJECT_ID="dao-brussels"
GCP_BUCKET_NAME="dao-brussels-website--dev"
GOOGLE_APPLICATION_CREDENTIALS="service-account--dao-brussels-website-dev-bucket.json"

# Email Provider: Resend
RESEND_API_KEY="secret"
