build
dist / media
node_modules
.DS_Store
.env
.next
.vercel
service-account-*.json

# Payload default media upload directory
public/media/

# output of type check; `npx tsc --noEmit` 
tsconfig.tsbuildinfo