@import 'tailwindcss';
@import '@daveyplate/better-auth-ui/css';

@custom-variant dark (&:is(.dark *));

@import '../shared.css';

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
